<router-outlet></router-outlet>

<button mat-button color="accent" (click)="openAddEditModal(null)">
  <mat-icon>person_add</mat-icon>
</button>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Buscar Empleado">
  </mat-form-field>
</div>
<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="identification">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.person.identification}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="names">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.person.names}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="surnames">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.person.surnames}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.person.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="department">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.department.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="supervisor">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Supervisor </mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.supervisor?.person?.fullName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="openAddEditModal(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color="accent" (click)="delete(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>